main{
    background-image: url('../img/perna.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* essa imagem tá pesando minha pagina melhor deixar pra depois */