<nav class="nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-light fs-6" href="{% url "ver_paciente" %}">Ver Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-6" href="{% url "ver_agendamentos" %}">Ver Agendamentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-6" href="{% url "ver_profissionais" %}">Ver Profissionais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-6" href="{% url "valida_profissional" %}">Cadastrar Profissionais</a>
        </li>
    </ul>
</nav>