{% extends "base.html" %}
{% block 'title' %}
  Cadastro 
{% endblock 'title' %} 

{% block 'body' %}
<div class="container-fluid bg-dark text-white p-3">
  <h1>Cadastro de Pacientes</h1>
</div>

<div class="container">
  <br>

  {% if status == '0' %}
  <div class="alert alert-success" role="alert">
    Cadastro realizado com sucesso
  </div>
  {% endif %} 
  
  {% if status == '1' %}
  <div class="alert alert-danger" role="alert">
    Nome e email não podem estar vazios
  </div>
  {% endif %} 

  {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Sua senha dever ter pelo menos 8 caracteres
    </div>
  {% endif %} 

  {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
        as senhas não batem
    </div>
  {% endif %} 
  
  {% if status == '4' %}
    <div class="alert alert-danger" role="alert">
        Usuário já existe no sistema
    </div>
  {% endif %} 
  
  {% if status == '5' %}
    <div class="alert alert-danger" role="alert">Erro interno do sistema</div>
  {% endif %}

  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md">
        <h1>Cadastre-se</h1>
        <hr>

        <form action="{% url 'valida_cadastro' %}" method="POST"> {% csrf_token %}
            <label for="">Nome</label>
            <input class="form-control" type="text" placeholder="Nome..." name="nome" id="">

            <label for="">Email</label>
            <input class="form-control" type="text" placeholder="Email..." name="email" id="">

            <label for="">Senha</label>
            <input class="form-control" type="password" placeholder="Senha..." name="senha" id="">

            <label for="">Confirma senha</label>
            <input class="form-control" type="password" placeholder="Senha..." name="confirma_senha" id="">


            <input class="btn btn-info btn-mg mt-1" type="submit" value="Enviar">

            <a href="{%url 'login_paciente' %}" class="btn btn-warning mt-1">Login</a>
            
        </form>
    </div>

    <div class="col-md-3">
    </div>

  </div>

</div>

{% endblock 'body' %}
