{% extends "base.html" %}
{% load static %}

{% block 'title' %}
    Login
{% endblock %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static "paciente/css/login.css" %}">
{% endblock 'head' %}

{% block 'body' %}
<header>
    <div class="container-fluid bg-info text-white p-3">
      <h1>Maossagens</h1>
    </div>
  </header>

  <main class="flex-fill">
    <div class="container">
        <br>
        
        <div class="row w-50 container-fluid my-4 p-2 mx-auto border rounded shadow bg-light">

            {% if status == '1' %}
                <div class="alert alert-danger" role="alert">
                    Email ou senha inválidos
                </div>
            {% endif %}
    
            {% if status == '2' %}
                <div class="alert alert-danger" role="alert">
                    faça login antes de tentar acessar o sistema
                </div>
            {% endif %}
    
            <div class="col-md">
                <h1>faça login</h1>
                <hr>
    
                <form action="{% url 'valida_login' %}" method="POST"> {% csrf_token %}
                    
                    <label for="">Email</label>
                    <input class="form-control" type="text" placeholder="Email..." name="email" id="">
    
                    <label for="">Senha</label>
                    <input class="form-control" type="password" placeholder="Senha..." name="senha" id="">
    
                    <input class="btn btn-success btn-mg mt-2 text-white" type="submit" value="Logar">
    
                    <a href="{%url 'cadastrar_paciente' %}" class="btn btn-info mt-2 text-white">Cadastro</a>
                </form>
            </div>

        </div>
    </div>
    
  </main>

{% endblock %}