{% extends "base.html" %}
{% block 'title' %}
  Cadastro 
{% endblock 'title' %} 

{% block 'body' %}
<header>
  <div class="container-fluid d-flex  justify-content-between bg-info text-white p-3">
      <h1>Maosagens</h1>

      {% include 'partials/regis_nav.html' %}

      <a href="{% url 'sair' %}" class="btn btn-danger d-flex text-center align-items-center">Sair</a> 
  </div>
</header>

<main class="flex-fill">
  <div class="container">
    <br>

    <div class="row w-50 container-fluid my-4 p-2 mx-auto border rounded shadow bg-light">
      {% if status == '0' %}
      <div class="alert alert-success" role="alert">
        Cadastro realizado com sucesso
      </div>
      {% endif %} 
      
      {% if status == '1' %}
      <div class="alert alert-danger" role="alert">
        Nome e email não podem estar vazios
      </div>
      {% endif %} 
  
      {% if status == '2' %}
        <div class="alert alert-danger" role="alert">
          Profissional já está cadastrado nesta especialidade
        </div>
      {% endif %} 
      
      {% if status == '3' %}
        <div class="alert alert-danger" role="alert">
          telefone não pode ter menos que 10 digitos 
        </div>
      {% endif %} 
      
      {% if status == '4' %}
        <div class="alert alert-danger" role="alert">Erro interno do sistema</div>
      {% endif %}

      <div class="col-md">
          <h1>Cadastre o Profissional</h1>
          <hr>

          <form action="{% url 'valida_profissional' %}" method="POST"> {% csrf_token %}

              {{form.as_table}}
              
              <input class="btn btn-info mt-2 text-white" type="submit" value="Cadastrar">
          </form>
      </div>

    </div>

  </div>
</main>
{% endblock 'body' %}
