{% extends "base.html" %}
{% load static %}

{% block 'title' %}
    Registros
{% endblock 'title'%}

{% block 'body' %}
<header>
    <div class="container-fluid d-flex  justify-content-between bg-info text-white p-3">
        <h1>Maossagens</h1>

        <a href="{% url 'sair' %}" class="btn btn-danger d-flex text-center align-items-center">Sair</a> 
    </div>
</header>

<main class="flex-fill d-flex flex-row flex-wrap align-items-center">
    <div class="container w-25 border rounded p-3 m-4 shadow">
        <h2 class="text-left fs-3 text-info">Ver Pacientes</h2>

        <p class="text-justify fs-5" >
            Lista de Pacientes cadastrados
        </p>

        <a href="{% url "ver_paciente" %}" class="btn btn-info mt-2 text-white" >Listar</a>
    </div> 

    <div class="container w-25 border rounded p-3 m-4 shadow">
        <h2 class="text-left fs-3 text-info">Ver Agendamentos</h2>

        <p class="text-justify fs-5" >
            Veja aqui as sessões marcadas.
        </p>

        <a href="{% url "ver_agendamentos" %}" class="btn btn-info mt-2 text-white" >Listar</a>
    </div>
    <div class="container w-25 border rounded p-3 m-4 shadow">
        <h2 class="text-left fs-3 text-info">Ver Profissionais</h2>

        <p class="text-justify fs-5" >
            Veja aqui os profissionais cadastrados
        </p>

        <a href="{% url "ver_profissionais" %}" class="btn btn-info mt-2 text-white" >Listar</a>
    </div>
    <div class="container w-25 border rounded p-3 m-4 shadow">
        <h2 class="text-left fs-3 text-info">Cadastrar profissional</h2>

        <p class="text-justify fs-5" >
            Cadastre um profissional
        </p>

        <a href="{% url "cadastra_profissional" %}" class="btn btn-info mt-2 text-white" >Cadastrar</a>
    </div>
</main>
{% endblock 'body' %}