{% extends "base.html" %}
{% load static %}

{% block 'title' %}
    Agendamentos
{% endblock 'title'%}

{% block 'body' %}
<header>
    <div class="container-fluid d-flex  justify-content-between bg-info text-white p-3">
        <h1>Maosagens</h1>

        {% include 'partials/regis_nav.html' %}

        <a href="{% url 'sair' %}" class="btn btn-danger d-flex text-center align-items-center">Sair</a> 
    </div>
</header>

<main class="flex-fill d-flex flex-row align-items-center">
    <div class="container w-75 border rounded p-3 mx-auto shadow">
        <h1 class='fs-5'>Pacientes</h1>
        <hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Paciente</th>
                    <th>Profissional</th>
                    <th>Especialidade</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.id }}</td>
                        <td>{{ agendamento.paciente }}</td>
                        <td>{{ agendamento.profissional }}</td>
                        <td>{{ agendamento.especialidade }}</td>
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.hora }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Você não nenhum agendamento.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</main>
{% endblock 'body' %}